canvas {
  background: pink;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  /* display: none; */
}

/* #dialog {
  width: 250px;
  margin: auto;
  padding: 30px 20px;
  display: none;
  text-align: center;
  border: 1px solid #aaa;
  box-shadow: 2px 2px 4px #888;
}

.displaynone {
  display: none;
} */

